{% extends 'base.html' %}
{% load static %}
{% block content %}

  <img src="{% static 'ARUN.JPG' %}" width = '720' height= '480' alt="">
  <p></p>

  <div class="ml-5">
    <div class="mr-5">

      <em>
        I love working on internet and help people accomplish things. I am Arun Ghimire, born and raised in Nepal.
        I am a new learner in affiliate world.
        I am going to explain exactly what I have learnt about internet,
        website development and other technical issues during my learning periods and researches till now.
        Here, I will be discussing about such topics.
      </em>

    </div>

  </div>

  <div class="border-top pt-3">
    <h3><u>Short Back story!</u></h3>

      <p>
        As everybody else, I was always a big dreamer. however my dream was not limited to a particular field,
        infact it is not particularised now as well. I loved football very much. Likewise sketching was one of my big hobbies.
        But these hobbies did not work well.
      </p>

      <p>When I completed my school I wanted to join MBBS but that was not in my fortune.
        I dropped my study for a year and joined Engineering.
        I am an Electronics and Communication Engineer.
        It is after I joined Engineering that I grew my interest towards Internet,
        website building and other similar fields. After a year of my researches online,
        consulting my collagues, my teachers, my seniors and almost everyone around me I felt –
        Oh yes, now I know a little bit of it. Then I started my rough works playing with laptops and internet the whole day.
        Actually, I was interested towards it when I heard people making money online just lying in bed. My mind was blown away by that.
</p>

    </div>

{%endblock%}
